body {
    margin: 0;
    background-image: url(../img/Desert.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: auto;
    }
header {
    background:rgba(215,215,215,0.5);
    max-width: 500px;
    margin: 0 auto;
    }
header .nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    }
header ul {
    display: flex;
    list-style-type: none;
}
header ul a {
    padding: 15px 50px;
    text-decoration: none;
}
header ul a:hover {
    background: orangered;
}
.border {
    border: 2px solid green;
}
.registration {
    background:rgba(125,203,101,0.5);
    width: 500px;
}
main {
    display: flex;
    justify-content: center;

    align-items: center;
    }
