body {
    max-width: 960px;
    margin: 0 auto;
    background: rgba(255, 0, 0, 0.5);
}
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
}
.flex-1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 600px;
}
.flex-2-2-2 {
    width: 288px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 288px;
    }
.flex-2-2-2-1 {
    width: 248px;
    height: 80px;
}
.flex-2 {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    height: 600px;
}
.flex-2-1 {
    display: flex;
    flex-direction: column;
    height: 298px;
}
.flex-2-1-1 {
    display: flex;
    flex-direction: column;
    height: 148px;
}
.border {
    border: 1px solid black;
}
.border1 {
    border-top: 1px;
    border-left: 1px;
    border-bottom: 0;
    border-right: 1px;
    border-color: black;
    border-style: solid;
}
.flex-1 div {
    margin:auto;
    width: 80%;
    height: 20%;
}
.color {
    background: rgba(255, 134, 12, 0.7);
}
.color-else {
    background: rgba(126, 13, 139, 0.5);
}
